<!-- commit Modal -->
<template data-hr-component="CommitNavItem">
    <li><a data-toggle="modal" data-target="#commitModal" data-hr-on-click="commit">Commit</a></li>
</template>
<div class="modal fade" id="commitModal" data-hr-controller="commit" tabindex="-1" role="dialog" aria-labelledby="commitModalLabel" data-hr-toggle="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form data-hr-on-submit="commit" data-hr-model="commit" data-hr-model-src="/edity/Git/Commit">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="commitModalLabel">Commit</h4>
                </div>
                <div class="modal-body">
                    <label>Changed Files</label>
                    <ol data-hr-model="changedFiles" data-hr-model-src="/edity/Git/UncommittedChanges" data-hr-model-component="commitComponent">
                        <template data-hr-component="commitComponent">
                            <li>{|filePath}</li>
                        </template>
                        <template data-hr-component="commitComponent" data-hr-variant="NewInWorkdir">
                            <li style="color:green;">{|filePath} <span class="pull-right">A</span></li>
                        </template>
                        <template data-hr-component="commitComponent" data-hr-variant="Missing">
                            <li style="color:darkred;">{|filePath} <span class="pull-right">D</span></li>
                        </template>
                        <template data-hr-component="commitComponent" data-hr-variant="Modified">
                            <li style="color:blue;">{|filePath} <span class="pull-right">M</span></li>
                        </template>
                    </ol>
                    <div class="form-group">
                        <label for="message">Message</label>
                        <textarea class="form-control" rows="3" name="message"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Commit</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>
{mainContent}