<!-- compile Modal -->
<template data-hr-component="CompileNavItem">
    <li><a data-toggle="modal" data-target="#compileModal" data-hr-on-click="compile">Publish</a></li>
</template>
<div class="modal fade" id="compileModal" data-hr-controller="compile" tabindex="-1" role="dialog" aria-labelledby="compileModalLabel" data-hr-toggle="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="compileModalLabel">Publish</h4>
            </div>
            <div class="modal-body">
                <p data-hr-toggle="start" data-hr-style-off="display:none;">
                    Press Publish to compile this website.
                </p>
                <p data-hr-toggle="success" data-hr-style-off="display:none;">
                    Website has been compiled and published.
                </p>
                <p data-hr-toggle="fail" data-hr-style-off="display:none;">
                    An error occured while compiling the website.
                </p>
                <div class="center" data-hr-toggle="compiling" data-hr-style-off="display:none;">
                    <div class="load-linebar center-block">
                        <div class="rect1"></div>
                        <div class="rect2"></div>
                        <div class="rect3"></div>
                        <div class="rect4"></div>
                        <div class="rect5"></div>
                    </div>
                    <p>Compiling</p>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-hr-on-click="runCompiler" data-hr-toggle="publish" data-hr-style-off="display:none;">Publish</button>
            </div>
        </div>
    </div>
</div>
{mainContent}