<template data-hr-component="MergeNavItem">
    <li><a data-toggle="modal" data-target="#mergeModal" data-hr-on-click="merge">Merge</a></li>
</template>
<div class="modal fade" id="mergeModal" data-hr-controller="merge" tabindex="-1" role="dialog" aria-labelledby="mergeModalLabel" data-hr-toggle="dialog">
    <div class="modal-dialog mergeModal" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="mergeModalLabel">Merge</h4>
            </div>
            <div class="modal-body" data-hr-model="merge" data-hr-model-src="/edity/Git/MergeInfo" id="mergeViewArea">
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Commit</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
{mainContent}