<!-- source Modal -->
<template id="EditSourceNavItem">
    <li><a id="EditSource" data-toggle="modal" data-target="#sourceModal">Edit Source</a></li>
</template>
<div class="modal fade" id="sourceModal" tabindex="-1" role="dialog" aria-labelledby="sourceModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="sourceModalLabel">{docLink} Source</h4>
            </div>
            <form id="ApplySourceChanges">
                <div class="modal-body">
                    <textarea id="source" name="markdown" class="form-control" rows="30">default thing</textarea>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary">Apply Changes</button>
                </div>
            </form>
        </div>
    </div>
</div>
{mainContent}